<h1>Make Your Own Survey</h1>

<a href="/survey/new"><button type="button" name="button">Add Survey</button></a>
<a href="/surveys"><button type="button" name="button">See Existing Surveys</button></a>
