<h1><%= @survey.name() %></h1>
<form class="" action="/survey/<%= @survey.id() %>/questions" method="post">
  <input type="hidden" name="" value="@survey.id()">
  <button type="submit" name="button">Add Question</button>
</form>
